body{
    background-image: url(http://bit.ly/2d9VLie);
}
.container-fluid{
    background-color: white;
}
.dropdown-toggle{
    background-color:lightslategrey;
    font-size: 20px;
    float: left;
}
.buttons{
  position:relative;
}
input#newZip{
    background-color: white;;
    color:black
}
#share-buttons img {
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
h1{
    text-align: center;
    background-color: royalblue;
    margin: 0px;
}
h4{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
.span_2_of_2{
    background-image: url(http://bit.ly/2d7m7iU);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 450px;
    margin: 40px;
    background-position: top left;
    border: 2px solid royalblue;
    border-radius: 25px;
}
div{
    color: cornflowerblue;
    font-size: 20px;
    text-align: center;
    margin:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#share-button img{
    display: inline;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 500px;
}
.span_1_of_2 {
	width: 300px;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }}